<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= htmlWebpackPlugin.options.title %>
  <%= htmlWebpackPlugin.options.helmetMeta %>
</head>

<body>
  <div id="app"><%= htmlWebpackPlugin.options.html %></div>
  <script>window.__INITIAL_STATE__ = <%= htmlWebpackPlugin.options.extraScript %></script>
</body>
</html>
